
.form-container{
    border: 0px solid ;
    padding: 30px 60px; 
    margin-top: 25vh;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(255, 255, 255, 0.75);
    box-shadow: -1px 4px 26px 11px rgba(255, 255, 255, 0.75);
    background-color: black;
   

    
    
}
.lbl{
    color: rgb(255, 255, 255);
}
